{{#if yourName}}
  <span>your username is: {{yourName}}</span>
{{else}}
  <span>Enter a username:</span>
  {{input value=username}}
  <button {{ action createUsername }}>Create your username</button>
{{/if}}

<p><strong>Hi! Type a message</strong></p>
{{input value=message}}
<button {{ action sendMessage }}>Send Message</button>
{{render messages}}
